.header
  %h2.header__uname
    = current_user.name
  %ul.header__btns
    %li
      = link_to "#" do
        = fa_icon("edit")
    %li
      = link_to edit_user_path(current_user) do
        = fa_icon("cog")
.groups
  = render 'messages/group', collection: @messages
